body{
    display: block;
    overflow: hidden;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
nav{
    background-color: white; !important
}
.nav-link-active{
    text-decoration: none;
    font-size: 18px;
}
.btn{
    font-size: 18px;
}
.main{
    margin: 3rem;
    padding:3rem;
}
.page1 p{
    font-size: 18px;
}
